{% extends 'bootstrap/base.html' %}

{% block navbar %}
<div class="navbar" role="navigation">
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">ML Client</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                            </li>
                    </div>
                </div>
            </nav>
        </header>
        <main></main>
        <footer>
            <p>
                &copy; 2022. Shared under the GPL3 license. Source code available at
                <a href="https://github.com/software-students-fall2022/containerized-app-exercise-team3/">available on
                    Github.</a>
            </p>
        </footer>
    </div>
</div>
{% endblock %}

{% block content %}
<h2>Current jobs</h2>
<ul class="list-group">
    {% for job in jobs %}
    <li class="list-group-item">
        <h3>{{ job.name }}</h3>
        <span class="badge bg-success">{{job.status}}</span>
        <small>{{ job.completion_time }}</small><br>
        <a href="{{ url_for('job', job_id = job._id) }}">View details</a>
    </li>
    {% endfor %}
</ul>
<!-- <h2>Upload an audio file</h2>
    <div>
        <input class="form-control form-control-lg" id="formFileLg" type="file">
    </div> -->
<h3>Statistics</h3>
<div>
    <small>{{submitted}}</small><br>
    <small>{{num_succeed}}</small><br>
    <small>{{failed}}</small><br>
    <small>{{processing}}</small><br>
    <small>{{success_rate}}</small><br>
    <small>{{avg_completion}}</small><br>
    <small>{{avg_wait}}</small><br>
    <div>
{% endblock %}
