{% extends 'base.html' %}

{% block container %}
    <div class="container p-0">
        <!-- code adapted from: www.bootdey.com -->
		<h1 class="h3 mb-3">Chat History</h1>
        <div class="btn-group dropend">
            <button type="button" class="btn btn-secondary dropdown-toggle mb-3" data-bs-toggle="dropdown" aria-expanded="false">
              Range
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="all" style="text-decoration: none;">
                        <button class="dropdown-item" type="button">All messages</button>
                    </a>
                </li>
                <li>
                    <a href="today" style="text-decoration: none;">
                        <button class="dropdown-item" type="button">Today</button>
                    </a>
                </li>
                <li>
                    <a href="this_week" style="text-decoration: none;">
                        <button class="dropdown-item" type="button">This week</button>
                    </a>
                </li>
            </ul>
        </div>
		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-12 col-xl-12">
					<div class="position-relative">
						<div class="chat-messages p-4">
                            {%for chat in chat_log %}
                            {% if chat.is_bot %}
                            <div class="chat-message-left pb-4">
                                <div>
									<img src="/static/default.svg" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">{{chat.timestamp}}</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									{{chat.text}}
								</div>
							</div>
                            {% else %}
                            <div class="chat-message-right pb-4">
								<div>
									<img src="/static/default.svg" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">{{chat.timestamp}}</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
									{{chat.text}}
								</div>
							</div>
                            {% endif %}
                            {% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <br>
    <a href="/"><button type="button" class="btn btn-primary">Return</button></a>
{% endblock %}