name: Machine Learning Client Docker Image CICD

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Docker Login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: Build the Docker Image
      run: |
        cd ml-client
        docker build . --file Dockerfile --tag final-project-team-7-ml-client:$(date +%s)
    - name: Docker Push
      run: docker push ${{secrets.DOCKER_USER}}/final-project-team-7-ml-client
      
